<div class="container-fluid no-margin">
    <div class="row-fluid">
        <div class="col-lg-3 col-md-3 no-margin menu">
            <h1 class="menu-heading">CENTER</h1>
            <ul class="menu-items">
                {{#each centers}}
                    <li><a href="../admin/{{name}}" class="menu-items-text">{{name}}</a></li>
                {{/each}}
            </ul>
            <br/>
            <div class="buttonContainer">
                <button type="button" class="menuButton" id="addCenterBtn" data-toggle="modal"
                        data-target="#addCenterModal">Opret center
                </button>&nbsp;&nbsp;
                <button type="button" class="menuButton" id="disableCenterBtn" data-toggle="modal"
                        data-target="#editCentersModal">Administrer centre</button>
                <br/>
            </div>
        </div>
        <div class="col-lg-1">
            &nbsp;&nbsp;
        </div>
        <div class="col-lg-7 col-md-7 top-spacing ">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <!-- Tabs -->
                            <ul class="nav panel-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">CENTER</a></li>
                                <li><a href="#tab2" data-toggle="tab">TERMINAL</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1"><h1>CENTER</h1><br/>
                                    <form data-toggle="validator">
                                        <div class="row">
                                            <div class="form-group col-lg-4 col-lg-offset-4" id="input-group">
                                                <input type="hidden" value="{{centerUser}}" id="txtOCenterUser"/>
                                                <label for="txtUser">Brugernavn</label>
                                                <input type="txtUser" value="{{centerUser}}" class="form-control" id="txtCenterUser" pattern="[\w]{4,}" data-error="Dit brugernavn skal minimum være 4 tegn og kan kun indeholde A-z, 0-9 og '_'" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-4 col-lg-offset-4" id="input-group">
                                                <label for="pwd">Password:</label>
                                                <input type="password" class="form-control" id="txtCenterPwd" data-minlength="6"  data-error="Dit password skal minimum være 6 tegn" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-4 col-lg-offset-4" id="input-group">
                                                <label for="pwd">Gentag password:</label>
                                                <input type="password" class="form-control" id="txtCenterPwdConfirm" data-match="#txtCenterPwd"  data-error="Felterne matcher ikke hinanden" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-lg-offset-6" id="input-group-button">
                                                <button type="submit" class="btn btn-success pull-right changeCenterUser">Gem ændringer
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <h1>TERMINAL</h1><br/>
                                    <form data-toggle="validator">
                                        <div class="row">
                                            <div class="form-group col-lg-4 col-lg-offset-4" id="input-group">
                                                <input type="hidden" value="{{terminalUser}}" id="txtOTerminalUser" />
                                                <label for="txtUser">Brugernavn</label>
                                                <input type="txtUser" value="{{terminalUser}}" class="form-control" id="txtTerminalUser" pattern="[\w]{4,}" data-error="Dit brugernavn skal minimum være 4 tegn og kan kun indeholde A-z, 0-9 og '_'" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-4 col-lg-offset-4" id="input-group">
                                                <label for="pwd">Password:</label>
                                                <input type="password" class="form-control" id="txtTerminalPwd" data-minlength="6"  data-error="Dit password skal minimum være 6 tegn" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-4 col-lg-offset-4" id="input-group">
                                                <label for="pwd">Gentag password:</label>
                                                <input type="password" class="form-control" id="txtTerminalPwdConfirm" data-match="#txtTerminalPwd"  data-error="Felterne matcher ikke hinanden" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-lg-offset-6" id="input-group-button">
                                                <button type="submit"
                                                        class="btn btn-success pull-right changeTerminalUser">Gem ændringer
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="maskiner">
                            <span style="display: block;text-align: center;"><h1>MASKINER</h1><br/></span>
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#modalTilføjMaskine">Tilføj maskine
                            </button>
                            <br/><br/>
                            {{#grouped_each 4 machines}}
                                <div class="row">
                                    {{#each this }}
                                        <div class="col-lg-3">
                                            <input type="hidden" value="{{_id}}" class="machineId"/>
                                            <div class="maskine">MASKINE {{machineNumber}}</div>
                                            <p class="deleteContainer">&nbsp;&nbsp;<span
                                                    class="glyphicon glyphicon-trash"></span> FJERN</p>
                                        </div>
                                    {{/each}}
                                </div>
                            {{/grouped_each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">&nbsp;
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalTilføjMaskine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Tilføj maskine</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" value="{{selectedCenterId}}" id="selectedCenterId">
                <form data-toggle="validator">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="txtUser">Maskinnummer</label>
                            <input class="form-control" id="txtMachineNumber" type="txtUser" pattern="[\d]{1,}" data-error="Maskinnummeret skal være et tal">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnAddMachine">Opret</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCenterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Opret center</h4>
            </div>
            <div class="modal-body">
                <form role="form"  data-toggle="validator">
                    <div class="form-group">
                        <label for="centername"><span class="glyphicon glyphicon-home"></span> Center navn</label>
                        <input type="text" class="form-control" id="centername" placeholder="Navn">
                    </div>
                    <div class="form-group">
                        <label for="terminalusrname"><span class="glyphicon glyphicon-user"></span> Terminal brugernavn</label>
                        <input type="text" class="form-control" id="terminalusrname" placeholder="Brugernavn" pattern="[\w]{4,}" data-error="Dit brugernavn skal minimum være 4 tegn og kan kun indeholde A-z, 0-9 og '_'" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="terminalpsw"><span class="glyphicon glyphicon-eye-open"></span> Terminal password</label>
                        <input type="password" class="form-control" id="terminalpsw" placeholder="Password" data-minlength="6"  data-error="Dit password skal minimum være 6 tegn" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="terminalpswconfirm"><span class="glyphicon glyphicon-eye-open"></span>Bekræft terminal password</label>
                        <input type="password" class="form-control" id="terminalpswconfirm" placeholder="Password" data-match="#terminalpsw" data-error="Felterne matcher ikke hinanden" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="centerusrname"><span class="glyphicon glyphicon-user"></span> Center brugernavn</label>
                        <input type="text" class="form-control" id="centerusrname" placeholder="Brugernavn" pattern="[\w]{4,}" data-error="Dit brugernavn skal minimum være 4 tegn og kan kun indeholde A-z, 0-9 og '_'" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="centerpsw"><span class="glyphicon glyphicon-eye-open"></span> Center password</label>
                        <input type="password" class="form-control" id="centerpsw" placeholder="Password" data-minlength="6"  data-error="Dit password skal minimum være 6 tegn" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="centerpswcconfirm"><span class="glyphicon glyphicon-eye-open"></span> Bekræft center password</label>
                        <input type="password" class="form-control" id="centerpswconfirm" placeholder="Password" data-match="#centerpsw" data-error="Felterne matcher ikke hinanden" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" id="addCenterSubmitBtn" class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok"></span> Opret</button>
                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Annuller</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editCentersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <h4>Administrer centre</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form">
                    <div class="row">
                        <div class="col-lg-9"><strong>Navn</strong></div>
                        <div class="col-lg-3 right-align"><strong>Aktiver</strong></div>
                    </div>
                    {{#menuhelper allCenters}}
                    <div class="row top-spacing">
                        <div class="col-lg-9">{{name}}</div>
                        <div class="col-lg-3 right-align"><label><input type="checkbox" class="ios-switch green"  /><div><div></div></div></label></div>
                    </div>
                    {{else}}
                        <div class="row top-spacing">
                            <div class="col-lg-9">{{name}}</div>
                            <div class="col-lg-3 right-align"><label><input type="checkbox" checked class="ios-switch green"  /><div><div></div></div></label></div>
                        </div>
                    {{/menuhelper}}
                    <br/>
                    <br/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" id="" class="btn btn-success pull-right" data-dismiss="modal">Luk
                </button>
            </div>
        </div>
    </div>
</div>
