<div class="container-fluid no-margin">
    <div class="row-fluid">
        <div class="col-lg-3 col-md-3 no-margin menu">
            <h1 class="menu-heading">CENTER</h1>
            <ul class="menu-items">
                {{#menuhelper centers}}
                    <li class="menu-active"><a href="../admin/{{name}}" class="menu-items-text">{{name}}</a></li>
                {{else}}
                    <li><a href="../admin/{{name}}" class="menu-items-text">{{name}}</a></li>
                {{/menuhelper}}
            </ul>
        </div>
        <div class="col-lg-1">
            &nbsp;&nbsp;
        </div>
        <div class="col-lg-7 col-md-7 top-spacing ">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <!-- Tabs -->
                            <ul class="nav panel-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">CENTER</a></li>
                                <li><a href="#tab2" data-toggle="tab">TERMINAL</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1"><h1>CENTER</h1><br/>
                                    <form>
                                        <div class="row">
                                            <div class="form-group col-lg-4 col-lg-offset-4">
                                                <input type="hidden" value="{{centerUser}}" id="txtOCenterUser" />
                                                <label for="txtUser">Brugernavn</label>
                                                <input type="txtUser" value="{{centerUser}}" class="form-control" id="txtCenterUser">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-4 col-lg-offset-4">
                                                <label for="pwd">Password:</label>
                                                <input type="password" class="form-control" id="txtCenterPwd">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-lg-offset-6">
                                                <button type="submit" class="btn btn-success pull-right changeCenterUser">Change password
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <h1>TERMINAL</h1><br/>
                                    <form>
                                        <div class="row">
                                            <div class="form-group col-lg-4 col-lg-offset-4">
                                                <input type="hidden" value="{{terminalUser}}" id="txtOTerminalUser" />
                                                <label for="txtUser">Brugernavn</label>
                                                <input type="txtUser" value="{{terminalUser}}" class="form-control"
                                                       id="txtTerminalUser">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-4 col-lg-offset-4">
                                                <label for="pwd">Password:</label>
                                                <input type="password" class="form-control" id="txtTerminalPwd">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-lg-offset-6">
                                                <button type="submit" class="btn btn-success pull-right changeTerminalUser">Change password
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="maskiner">
                            <h1>MASKINER</h1><br/>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalTilføjMaskine">Tilføj maskine</button><br /><br />
                            {{#grouped_each 4 machines}}
                                <div class="row">
                                    {{#each this }}
                                        <div class="col-lg-3">
                                            <input type="hidden" value="{{_id}}" class="machineId" />
                                            <div class="maskine">MASKINE {{machineNumber}}</div>
                                            <p class="deleteContainer">&nbsp;&nbsp;<span class="glyphicon glyphicon-trash"></span> FJERN</p>
                                        </div>
                                    {{/each}}
                                </div>
                            {{/grouped_each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">&nbsp;
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalTilføjMaskine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Tilføj maskine</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" value="{{selectedCenterId}}" id="selectedCenterId">
                <form>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="txtUser">Maskinnummer (Kun i tal)</label>
                            <input type="txtUser" class="form-control"
                                   id="txtMachineNumber">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnAddMachine">Opret</button>
            </div>
        </div>
    </div>
</div>